#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&soft_off { hold-time-ms = <3000>; };

/ {
    behaviors {
        power_off: power_off {
            compatible = "zmk,behavior-hold-tap";
            label = "POWER_OFF";
            bindings = <&soft_off>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&power_off 0 ESC  &kp Q  &kp W  &kp E      &kp R
&kp LCTRL         &kp A  &kp S  &kp D      &kp F
                  &kp Z  &kp X  &kp C
                                &kp LSHFT  &kp SPACE
            >;
        };
    };
};
