#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <

    &kp N1 &kp Q &kp W &kp E &kp R
    &kp N2 &kp A &kp S &kp D &kp F &kp T &bt BT_CLR	 
    &kp N3 &kp Z &kp X &kp C &kp V &kp LEFT_SHIFT &kp SPACE &kp LCTRL

            >;
        };
    };
};